.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

.loading--background {
  background-image: radial-gradient(50% 50% at 50% 50%, #FFDCF7 0%, rgba(255, 166, 235, 0.72) 51.5%, rgba(224, 219, 255, 0.63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry--background {
  background: radial-gradient(50% 50% at 50% 50%, #DCFFFF 0%, rgba(166, 218, 255, 0.72) 51.5%, rgba(255, 219, 245, 0.63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loading--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading--text{
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.52px;
  margin-top: 20%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.entry--button{
  background-color: white;
  width: 107px;
  height: 40px;
  border: none;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.98px;
  transition: color 0.5s;
  transform: 0.2s;
}

.entry--button:active{
  background-color: white !important;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.left--span{
  background: #919191;
  display: block;
  height: 1px;
  position: absolute;
  width: 112px;
}


.entry--button--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.entry--container{
  bottom: 4rem;
  height: 10%;
}

.entry--text{
  color: #919191;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.84px;
}

.header--container{
  font-family: Poppins;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width:100%;
}

.header--left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0%;
  align-items: center;
  margin-right: auto;
  padding-left: 20px;
}

.header--right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}

.header--left > h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.header--right > h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  padding-right: 20px;
}

.header--right > button{
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: none;
}

.footer--container{
  font-family: Poppins;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width:100%;
  bottom: 10px;
}

.footer--right > h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  padding-right: 20px;
  color: white;
}

.footer--left > button{
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.footer--left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0%;
  align-items: center;
  margin-right: auto;
  padding-left: 20px;
}

.footer--right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}

.index--background {
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(166, 218, 255, 0.72) 51.5%, rgba(255, 219, 245, 0.63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index--button{
  background-color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 35px;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.98px;
  cursor: pointer;
}

.footer--star{
  font-size: 30px;
  color: #919191;
}

.projects--button{
  background-color: white;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 35px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: -0.98px;
}

.projects--background {
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 153, 96, 0.72) 51.5%, rgba(239, 248, 185, 0.63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects--name{
  text-transform: uppercase;
  color: rgba(179, 100, 206, 0.62);
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(203, 203, 203, 0.80);
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0%;
}

.projects--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.project--background {
  background: radial-gradient(50% 50% at 50% 50%, #BDFCC0 0%, rgba(251, 170, 228, 0.72) 51.5%, rgba(209, 185, 248, 0.63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project--title{
  display: grid;
  grid-template: "a a ." minmax(50px, auto);
  gap: 0px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.project--top{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.84px;
  text-transform: uppercase;
  margin-top: 35px;
}

.project--description{
  display: grid;
  grid-template: 150px / 400px auto auto;
  grid-gap: 200px;
}

.project--description--title{
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.7px;
}

.project--description--text{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.menu--container{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background: #F7F7F7;
  overflow-x: hidden;
  right: 0; 
  display: flex;
  flex-direction: column;
}

.menu--button{
  background-color: black;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: white;
  text-align: center;
  letter-spacing: -0.98px;
  position: absolute;
  right: 20px;
}

.menu--close{
  padding-top: 20px;
}

.menu--links{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  margin-top: 50%;
  margin-left: 25%;
}

.menu--socials {
  bottom: 10px;
  right: 20px;
  position: absolute;
  align-items: flex-end; 
}

.menu--socials > a {
  color: #000;
  text-decoration: none;
}

.menu--socials > a > h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.7px;
}

.menu--item{
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.menu--item > h4{
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.12px;
  padding-right: 10px;
}

.menu--item > h1{
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.36px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contact--title{
  text-align: center;
  font-family: "Great Vibes";
  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 0px;
}

.contact--text{
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-block-start: 0pc;
  margin-block-end: 0pc;
}

.contact--container > button{
  background-color: white;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 35px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.98px;
  margin-left: 20px;
}

.contact--container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bars {
  height: 10px;
  left: 50%;
  margin: -20px 0 0 -10px;
  position: relative;
  top: 60%;
  width: 30px;
}

.bar {
 background: black;
  bottom: 0px;
  height: 1px;
  position: absolute;
  width: 2px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

.white--bar {
  background: white;
   bottom: 5px;
   height: 3px;
   position: absolute;
   width: 2px;      
 }

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 15px;        
  }
}

.white--bar:nth-child(1)  { left: 1px;}
.white--bar:nth-child(2)  { left: 5px;}
.white--bar:nth-child(3)  { left: 9px; }
.white--bar:nth-child(4)  { left: 13px; }
.white--bar:nth-child(5)  { left: 17px;}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

.music--button:active {
  transform: scaleX(1.2) scaleY(1.2);
  transition: transform .2s ease-out;
}
